/*
The URL to this custom style sheet is given to Remarkbox Namespace dashboard.
This let's me control the look and feel of the comments!
*/

a.mod::after {
  content: " mod ";
  background-color: #AA0000;
  color: white;
  border-radius: 8px;
  margin-left: 4px;
  margin-right: 4px;
}

pre {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 2%;
  color: #000000;
  border-left: 2px solid #0084B4;
  font-size: 12px;
  font-family: 'PT Mono', monospace;
  line-height: 1.125em;
  overflow-x: auto;
  border-radius: 8px;
  background-color: #FAFAFA;
}
