@red:  #ff0000;
@black:  #000000;
@white:  #ffffff;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@dark-grey:  #4d4d4d;
@blue:  #0e94ec;
@accent:  @red;
@sans: sans-serif;
@serif: serif;
@mono: monospace;


body {
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @dark-grey;
  font-family: @sans;
  font-size: 1.0rem;
  font-weight: 300;
}

a {
  color: @black;
  text-decoration: none;
    &:hover {
      color: #ff0000;
    }
    &:active {
      color: #ff0000;
    }
}

hr {
  color: @light-grey;
  background-color: @light-grey;
  height: 1px;
  border: none;
  float: left;
  width: 100%;
}

.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

img {
  max-width: 100%;
}

.round-img {
  border-radius: 50%;
  padding: 2px;
  border: 10px solid;
}

aside {
  div#user_meta {
    padding: 40px;
    text-align: center;
    max-width: 400px;
    margin: auto;

    div.logo {
        height: 195px;
        max-width: 100%;
        overflow: hidden;
        background: url('/static/images/logo.svg') no-repeat center;
        background-size: contain;
        &:hover {
            background: url('/static/images/logo-hover.svg') no-repeat center;
            background-size: contain;
        }
        &:active {
            background: url('/static/images/logo-hover.svg') no-repeat center;
            background-size: contain;
        }
    }

    h2 {
      font-size: 1.0rem;
      margin: 15px 0 5px 0;
    }

    p {
      margin: 0 0 15px 0;
      font-size: .8rem;
    }

    ul {
      margin: auto;
      max-width: 300px;
      padding-left: 0;
      font-size: .9rem;
      list-style-type: none;

      li {
        display: inline;
        line-height: 3rem;

        a {
          padding: 0px;
          color: @med-grey;

          div {
            margin: 7px 0px;
            padding: 5px 15px 5px 15px;
            border: 2px solid #eeeeee;
            border-radius: 15px;
            text-align: center;
            line-height: 1.1rem;
            &:hover {
                border-color: @accent
            }
            &:active {
                border-color: @accent
            }
          }
        }
      }
    }
  }
}

main {
  header {
    padding: 10px 40px;
    border-top: @light-grey 1px solid;
    border-bottom: @light-grey 1px solid;

    p {
      font-weight: bold;
      font-size: .6rem;
      text-transform: uppercase;
    }
  }

  article {
    max-width: 640px;
    padding: 15px 40px;

    div.article_title {
    }

    div.article_text {
      line-height: 1.375rem;
      a {
        text-decoration: underline;
      }

      code {
        margin: 2px;
        padding: 0;
        color: @black;
        font-size: .8rem;
        font-family: @mono;
        font-weight: 400;
      }

      pre {
        margin: 22px 0px 22px 0px;
        padding: 10px 5px;
        color: @black;
        border-left: 2px solid @accent;
        font-size: .8rem;
        font-family: @mono;
        line-height: 1.25rem;
        overflow-x: auto;
      }

      blockquote {
        margin: 22px 2px 22px 2px;
        padding-left: 40px;
        color: @med-grey;
        font-style: italic;
      }
    }

    div.gist {
      line-height: .875rem;
    }

    div.article_meta {
      font-size: .7rem;
      color: @med-grey;
    }
  }

  footer {
    border-top: @light-grey 1px solid;
    padding: 40px;

    a.button_accent {
      padding: 5px 10px;
      border: 2px solid @accent;
      .border-radius(20px);
      text-transform: lowercase;
      color: @accent;
      font-size: .75rem;
      &:hover {
        color: @white;
        background-color: @accent;
      }
      &:active {
        color: @white;
        background-color: @accent;
      }
    }

    div#paginator {
    }
  }

  div#ending_message {
    border-top: @light-grey 1px solid;
    padding: 0 40px 0 40px;
    color: @med-grey;
    font-size: .6rem;
  }
}

@media screen and (min-width: 1024px) {
  aside {
    width: 280px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-right: @light-grey 1px solid;

    h2 {
      margin: 10px 0 0 0;
    }

    div#user_meta {
      max-width: 195px;
      text-align: right;

      div.logo {
        height: 195px;
        max-width: 100%;
        margin: auto;
        overflow: hidden;
        background: url('/static/images/logo.svg') no-repeat;
        background-size: contain;
        &:hover {
            background: url('/static/images/logo-hover.svg') no-repeat;
            background-size: contain;
        }
        &:active {
            background: url('/static/images/logo-hover.svg') no-repeat;
            background-size: contain;
        }
      }

      ul {
        li {
          display: block;
        }
      }
    }
  }

  main {
    width: 75%;
    position: absolute;
    top: 0;
    left: 280px;
    overflow-x: hidden;
    overflow-y: hidden;

    article {
      max-width: 640px;
    }

    header {
      border-top: 0;
    }
  }
}
