body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  color: #4d4d4d;
  font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
}
header .site_name {
  font-size: 40px;
  font-weight: bold;
}
a {
  color: #000000;
  text-decoration: none;
  transition: 0.15ms;
}
a:hover {
  opacity: 0.6;
}
hr {
  color: #eeeeee;
  background-color: #eeeeee;
  height: 1px;
  border: none;
}
img {
  display: block;
  max-width: 650px;
  max-height: 650px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
iframe .twitter-tweet,
iframe .slide_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.article_text > iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pagination {
  margin: auto 10%;
  text-align: center;
}
.pagination ul {
  display: inline-block;
  padding: 0;
}
.pagination ul li {
  display: inline;
  float: left;
}
.pagination ul li .active {
  background-color: #212121;
  color: #ffffff;
}
.pagination ul li :hover:not(.active) {
  background-color: #ddd;
}
.pagination ul li a {
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 5px;
}
main {
  margin-left: auto;
  margin-right: auto;
}
main header {
  padding: 40px;
  border-top: #eeeeee 1px solid;
  border-bottom: #eeeeee 1px solid;
  text-align: center;
}
main header p {
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
}
main article {
  max-width: 100%;
  padding: 40px 20px;
}
main article div.article_text {
  line-height: 1.375em;
}
main article div.article_text a {
  text-decoration: underline;
}
main article div.article_text h1 {
  display: block;
  border-bottom: #eeeeee 1px solid;
  padding-bottom: 7px;
  margin-top: 22px;
  margin-bottom: 22px;
}
main article div.article_text code {
  margin: 2px;
  padding: 4px;
  color: #000000;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  background: #eeeeee;
}
main article div.article_text pre {
  margin: 22px 2px 22px 2px;
  padding: 9.5px;
  font-size: 15px;
  font-family: 'Source Code Pro', monospace;
  line-height: 1.25em;
  overflow-x: auto;
  border-style: none;
  border-radius: 4px;
}
main article div.article_text blockquote {
  margin: 22px 2px 22px 2px;
  padding-left: 40px;
  color: #999999;
  font-style: italic;
}
main article div.gist {
  line-height: .875em;
}
main article div.article_meta {
  font-size: 12px;
  color: #999999;
}
footer div#user_meta {
  text-align: center;
}
footer div#user_meta h2 {
  margin: 15px 0 5px 0;
}
footer div#user_meta p {
  margin: 0 0 15px 0;
  font-size: 14px;
}
footer div#user_meta ul {
  margin: 40px 0 0 0;
  padding-left: 0;
  font-size: 16px;
  list-style-type: none;
}
footer div#user_meta ul li {
  display: inline;
  line-height: 3em;
}
footer div#user_meta ul li a {
  padding: 5px 15px 5px 15px;
  border: 3px solid #eeeeee;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  color: #999999;
}
footer div#user_meta .author_logo img {
  max-width: 100px;
  max-height: 100px;
}
footer div#ending_message {
  border-top: #eeeeee 1px solid;
  padding: 0 40px 0 40px;
  color: #999999;
  font-size: 10px;
}
.sosial_tools {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.fb_iframe_widget > span {
  vertical-align: baseline !important;
}
.twitter-share-button {
  display: inline;
  width: 105px!important;
}
.pocket-btn {
  display: inline;
  width: 105px!important;
}
#___plusone_0 {
  width: 75px!important;
}
@media screen and (min-width: 640px) {
  main {
    width: 100%;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  main article {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
  main header {
    border-top: 0;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    max-width: 48rem;
  }
  footer h2 {
    margin: 10px 0 0 0;
  }
  footer div#user_meta {
    margin-top: 5%;
  }
  footer div#user_meta .author_logo {
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 10%;
  }
  footer div#user_meta .author_logo img {
    max-width: 100px;
    max-height: 100px;
  }
  footer div#user_meta .author_text {
    text-align: left;
  }
}
@media screen and (max-width: 769px) {
  article img {
    height: auto;
    width: 100%;
  }
}
