@red:  #ff0000;
@black:  #000000;
@white:  #ffffff;
@light-grey:  #eeeeee;
@med-grey:  #999999;
@dark-grey:  #4d4d4d;
@blue:  #0e94ec;
@deep-orage: #ff5722;
@accent:  @blue;
@sans: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
@serif: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
@mono: 'Source Code Pro', monospace;

body {
  margin: 0;
  padding: 0;
  background-color: @white;
  color: @dark-grey;
  font-family: @sans;
  font-size: 17px;
}

header {
  .site_name {
    font-size: 40px;
    font-weight: bold;
  }
}

a {
  color: @black;
  text-decoration: none;
  transition: 0.15ms;
}

a:hover {
  opacity: 0.6;
}

hr {
  color: @light-grey;
  background-color: @light-grey;
  height: 1px;
  border: none;
}

.border-radius (@radius: 5px) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

img {
  display: block;
  max-width: 650px;
  max-height: 650px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  .twitter-tweet, .slide_image{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.article_text > iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pagination {
  margin: auto 10%;
  text-align: center;

  ul {
    display: inline-block;
    padding: 0;

    li {
      display: inline;
      float: left;
      .active {
        background-color: #212121;
        color: @white;
      }
      :hover:not(.active) {
        background-color: #ddd;
      }

      a {
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 5px;

      }
    }
  }
}


main {
  margin-left: auto;
  margin-right: auto;

  header {
    padding: 40px;
    border-top: @light-grey 1px solid;
    border-bottom: @light-grey 1px solid;
    text-align: center;

    .site_name {
    }

    p {
      font-weight: bold;
      font-size: 10px;
      text-transform: uppercase;
    }
  }

  article {
    max-width: 100%;
    padding: 40px 20px;

    div.article_title {
    }

    div.article_text {
      line-height: 1.375em;
      a {
        text-decoration: underline;
      }

      h1 {
        display: block;
        border-bottom: @light-grey 1px solid;
        padding-bottom: 7px;
        margin-top: 22px;
        margin-bottom: 22px;
      }

      code {
        margin: 2px;
        padding: 4px;
        color: @black;
        font-size: 15px;
        font-family: @mono;
        background: @light-grey;
      }

      pre {
        margin: 22px 2px 22px 2px;
        padding: 9.5px;
        font-size: 15px;
        font-family: @mono;
        line-height: 1.25em;
        overflow-x: auto;
        border-style: none;
        border-radius: 4px;
      }

      blockquote {
        margin: 22px 2px 22px 2px;
        padding-left: 40px;
        color: @med-grey;
        font-style: italic;
      }
    }

    div.gist {
      line-height: .875em;
    }

    div.article_meta {
      font-size: 12px;
      color: @med-grey;
    }
  }
}

footer {
  border-top: @light-grey 1px solid;
  width: 100%;
  margin: 0 auto;

  .author_logo {
    width: 72px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    max-width: 72px;

    img {
      width: 72px;
      border-radius: 10px;
    }
  }

  section.user_meta {
    display: flex;
    max-width: 600px;
    margin: 1.5em auto;

    ul {
      li {
        display: inline;
        line-height: 3em;
      }
    }

    i.fa {
      font-size: 30px;
    }

    .author_name {
      font-style: italic;
      max-width: 420px;
      width: 70%;
      margin-left: 0.7em;
      margin-right: 0;
    }

    .author_link {
      text-align: left;
      max-width: 180px;
      width: 30%;
      margin-left: 0;
      margin-right: 0.7em;
    }
  }

  div#ending_message {
    border-top: @light-grey 1px solid;
    padding: 0 40px 0 40px;
    color: @med-grey;
    font-size: 10px;
  }
}

.sosial_tools {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.fb_iframe_widget > span {
  vertical-align: baseline !important;
}

.twitter-share-button {
  display : inline;
  width   : 105px!important;
}

.pocket-btn {
  display : inline;
  width   : 105px!important;
}

#___plusone_0 {
  width   : 75px!important;
}


@media screen and (min-width: 640px) {
  main {
    width: 100%;
    top: 0;
    left: 25%;
    overflow-x: hidden;
    overflow-y: hidden;

    article {
      max-width: 900px;
      margin-left: auto;
      margin-right: auto;
    }

    header {
      border-top: 0;
    }
  }

  footer {
    section.user_meta {
      div.autohr_name {
        margin-left: auto;
      }
      div.author_link {
        margin-right: auto;
      }
    }
  }
}

@media screen and (max-width: 769px){
  article {
    img {
      height : auto;
      width  : 100%;
    }
  }
}
