{% if DEFAULT_PAGINATION %}
<div id="paginator">
{% if articles_page.has_next() %}
<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.next_page_number() }}.html" class="button_accent">&larr; Older Posts</a>
{% endif %}

{% if articles_page.has_previous() %}
{% if articles_page.previous_page_number() == 1 %}
<a href="{{ SITEURL }}/{{ page_name }}.html" class="button_accent">Newer Posts &rarr;</a>
{% else %}
<a href="{{ SITEURL }}/{{ page_name }}{{ articles_page.previous_page_number() }}.html" class="button_accent">Newer Posts &rarr;</a>
{% endif %}
{% endif %}
</div>
{% endif %}
