{% extends "base.html" %}
{% block title %} Archives{% endblock %}

{% set prev_date = '' %}

{% block content %}
<article>
  <div class="article_text">
  {% for article in dates %}
    {% set current_date = article.date.strftime('%Y-%m') %}
    {% if current_date != prev_date %}
      {% set prev_date = current_date %}
      <h4>{{ current_date }}</h4>
    {% endif %}

        <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>

  {% endfor %}
  </div>
</article>
{% endblock %}
