{% extends "base.html" %}
{% block content %}
{% set custom_header = "Posted on " + article.locale_date %}
{% include "header.html" %}
<article>
  <h1 id="title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h1>

  <div id="article_content">
    {{ article.content }}
  </div>

  <div id="article_meta">
    Category: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a><br />
    {% if article.tags %}
    Tags:
    {% for tag in article.tags %}
      <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
    {% endif %}
  </div>
</article>

<footer>
  <a href="{{ SITEURL }}/" class="button_accent">&larr;Back to blog</a>
</footer>
{% endblock %}
