{% extends "base.html" %}
{% block content %}
{% for article in articles_page.object_list %}
<article>
  <div class="article_title">
    <h1><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
  </div>
  <div class="article_meta">
    <p>Posted on: {{ article.locale_date }}</p>
  </div>
  {% if article.readtime %}
  <div class="article_readtime">
    <p>Estimated read time: {{article.readtime.minutes}} minutes</p>
  </div>
  {% endif %}
  <div class="article_text">
    {{ article.summary }}
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
<footer>
  {% include "modules/pagination.html" %}
</footer>
{% endblock %}
