{% extends "base.html" %}
{% block content %}
<header>
  <h3>
    <a href="{{ SITEURL }}">Index</a>
    {% block headnotes %}
    &#124; <a href="{{ SITEURL }}/archives.html">Archives</a>
    {% endblock headnotes %}
  </h3>
</header>
{% for article in articles_page.object_list %}
<article>
  <h1 id="article_title">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title }}">{{ article.title }}</a>
  </h1>
  <div id="article_text">
    {{ article.summary }}
  </div>
</article>
{% if not loop.last %}
<hr />
{% endif %}
{% endfor %}
<footer>
  {% include "pagination.html" %}
</footer>
{% endblock %}
